/* Google Font Poppins  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* colors  */
:root {
    --primary-color: #E02C6D;
    --secondary-color: #3A3A3A;
    --third-color: #0A0826;
    --primary-width: calc(100% - 10%);
    --white-color: #ffffff;
}

/* Shared CSS  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.btn {
    padding: 10px 24px;
    background-color: var(--primary-color);
    color: var(--white-color);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

/* Header Styles  */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--primary-width);
    margin: 0 auto;
    padding: 20px 0px;
}

.navbar .site-logo {
    font-weight: 700;
}

.navbar .site-logo a {
    font-size: 24px;
    color: var(--secondary-color);
    text-decoration: none;

}

.navbar>ul {
    display: flex;
}

.navbar>ul>li {
    list-style: none;
    margin-left: 15px;
}

.navbar>ul>li a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 400;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all .35s ease-in;
}

.navbar>ul>li a.active,
.navbar>ul>li a:hover {
    color: white;
    background-color: var(--secondary-color);
}

.search-form {
    width: calc(100% - 60%);
    position: relative;
    text-align: center;
    margin-left: auto;
    background-color: #dddddd59;
    padding: 20px 10px;
    border-radius: 5px;
    display: none;
}


#search-box {
    width: 100%;
    height: 40px;
}

input[type="submit"] {
    padding: 5px 20px;
    margin-top: 15px;
    background-color: var(--primary-color);
    border: none;
    color: var(--white-color);
    border-radius: 5px;
}



/* Banner Part Styles  Start Here  */
section.banner-section {
    display: flex;
    width: var(--primary-width);
    justify-content: space-between;
    align-items: center;
    margin: 40px auto;
    gap: 50px;

}

/* .banner-content,
.banner-img {
    flex: 1;
} */

.banner-content .banner-title {
    color: var(--secondary-color);
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
}

.banner-content .banner-description {
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 600;
}

.banner-content .prebook {
    border-radius: 20px;
    margin-top: 15px;
    display: inline-block;
}

.banner-img {
    background-image: url("../images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.banner-img img {
    max-width: 100%;
}

/* clients Part styles  */
.our-clients {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: var(--primary-width);
    margin: 30px auto;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 20px 0px;
    gap: 20px;
}

.our-clients>img {
    max-width: 100%;
    max-height: 30px;
    flex: 1;
}

/* Popular Collection Part Styles  */
.main-content {
    width: var(--primary-width);
    margin: 90px auto;
}

.popular {
    margin: 50px auto;
    text-align: center;
}

.popular h2 {
    color: var(--secondary-color);
    font-size: 28px;
    font-weight: 600;
    line-height: 70px;
}

.popular-collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-content: space-between;
}

.collection-card {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 20px;
}

.collection-card img {
    width: 100%;
    height: auto;
}

.collection-card .card-title a {
    color: var(--secondary-color);
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    text-decoration: none;
}

.collection-card .card-price {
    color: var(--secondary-color);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
}

.trust-pilot {
    color: #FB8200;
    font-size: 12px;
}

.collection-card .card-description {
    color: var(--secondary-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 143%;
    letter-spacing: 0.252px;
}

.seemore {
    text-align: right;
    margin: 15px 0px;
}

.seemore a {
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.seemore a>i {
    transition: all .35s ease;
}

.seemore a:hover>i {
    transform: translateX(20px);
}

/* Feature Product Part Styles  */
.feature-product {
    display: flex;
    gap: 70px;
    justify-content: space-between;
    align-items: center;
    margin: 80px auto;
}

.feature-imgk,
.feature-content {
    flex: 1;
}

.feature-img img {
    width: 100%;
}

.feature-content .feature-title {
    color: var(--third-color);
    font-size: 38px;
    font-weight: 700;
    line-height: 60px;
}

.feature-content .feature-description {
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 20px;
}