/* Google Font Poppins  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* colors  */
:root {
    --primary-color: #E02C6D;
    --secondary-color: #3A3A3A;
    --third-color: #0A0826;
    --primary-width: calc(100% - 10%);
    --white-color: #ffffff;
}

/* Shared CSS  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.btn {
    padding: 10px 24px;
    background-color: var(--primary-color);
    color: var(--white-color);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

/* Header Styles  */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--primary-width);
    margin: 0 auto;
    padding: 20px 0px;
}

.navbar .site-logo {
    font-weight: 700;
}
.navbar .site-logo a{
    font-size: 24px;
    color: var(--secondary-color);
    text-decoration: none;

}
.navbar>ul {
    display: flex;
}

.navbar>ul>li {
    list-style: none;
    margin-left: 15px;
}

.navbar>ul>li a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 400;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all .35s ease-in;
}

.navbar>ul>li a.active,
.navbar>ul>li a:hover {
    color: white;
    background-color: var(--secondary-color);
}

/* Banner Part Styles  Start Here  */
section.banner-section {
    display: flex;
    width: var(--primary-width);
    justify-content: space-between;
    align-items: center;
    margin: 40px auto;
    gap: 50px;

}

/* .banner-content,
.banner-img {
    flex: 1;
} */

.banner-content .banner-title {
    color: var(--secondary-color);
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
}

.banner-content .banner-description {
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 600;
}

.banner-content .prebook {
    border-radius: 20px;
    margin-top: 15px;
    display: inline-block;
}
.banner-img{
    background-image: url("../images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-size:contain;
}
.banner-img img{
    max-width: 100%;
}

/* clients Part styles  */
.our-clients{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: var(--primary-width);
    margin: 30px auto;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 20px 0px;
    gap: 20px;
}
.our-clients> img{
    max-width: 100%;
    max-height: 30px;
    flex: 1;
}